*{
    margin: 0;
    
    color: white;
    padding: 0;
}

header{
    background: linear-gradient(black, #201F1F) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.logosony{
    height: auto;
    width: 60px;
}

a:link{
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}

.wrap{
    width: 1480px;
    height : 870px; 
    background: linear-gradient(to bottom,rgb(0 0 0/ .5), rgb(0 0 0/ .3)), url(../img/fotoDM.jpg);
    align-content: center;
   

}

.wrap-text{
   
    text-align: center;
    padding-top: 400px;

}

.img1{
    width: 250px;
    height: auto;
    margin: 3px;

}

main{
    background-color: #201F1F;
    padding: 30px;
    
}

.text2{
    margin-bottom: 10px;
}

.dmc{
    text-align: center;
}

.DM{
    display: flex;
    margin: 20px;
    margin-left:0;
}

.img2{
    height: 40px;
    width: 120px;
    margin: 10px;
}

.nav_links2 li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links2 li a {
    transition: all 0.3s ease 0s;
}
.nav_links2 li a:hover {
    color: #0088a9;
}

.Plataformas{
    background-color: #444141;
    width: 600px;
    height: auto;
    padding-top:25px ;
    margin-top: 21px;
}

.contenedor12{
    display: flex;
}

.text3{
    padding-bottom: 30px;
}
.singles{
    padding-top: 200px;
}

.noticias{
    background: url(../img/album-deluxe.jpg);
    height: 270px;
    width: 450px;
    background-size: cover;
    align-content: center;
    margin: 3px;
}

.noticias_text{
    text-align: center;
    padding-top: 120px;
}

.noticias2{
    background: url(../img/depeche-mode.jpg);
    height: 270px;
    width: 450px;
    background-size: cover;
    margin: 3px;
    
}

.noticias3{
    background: url(../img/universe.jpg);
    height: 270px;
    width: 450px;
    background-size: cover;
    align-content: center;
    margin: 3px;
}

.noticias_relacionadas{
    display: flex;
}

.text4{
    padding-bottom: 50px;
    padding-top: 90px;
}

footer{
    background-color: #201F1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    padding-top: 150px;

}

.logo1{
    height: auto;
    width: 100px;
    margin: 30px;
}

.logo2{
    
    height: auto;
    width: 100px;
    margin-left: -50px;

    
}

ul{
    list-style: none;
}
footer ul li{
    text-decoration: none;
}
