*{
    margin: 0;
    
    color: white;
    padding: 0;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

a:link{
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}

.wrap{
    width: 1480px;
    height : 870px; 
    background: url(../img/fotoDM.jpg);
    align-content: center;
   

}

.wrap-text{
   
    text-align: center;
    padding-top: 400px;

}